
.idea/backend-java.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_4_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_8.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_8.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_9_8.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_9_8.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_9_8.xml
.idea/libraries/Maven__com_google_guava_guava_20_0.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_7.xml
.idea/libraries/Maven__com_sun_mail_javax_mail_1_6_2.xml
.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_15.xml
.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
.idea/libraries/Maven__commons_io_commons_io_2_6.xml
.idea/libraries/Maven__commons_net_commons_net_3_6.xml
.idea/libraries/Maven__io_micrometer_micrometer_core_1_1_3.xml
.idea/libraries/Maven__io_netty_netty_buffer_4_1_33_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_4_1_33_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_http2_4_1_33_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_http_4_1_33_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_socks_4_1_33_Final.xml
.idea/libraries/Maven__io_netty_netty_common_4_1_33_Final.xml
.idea/libraries/Maven__io_netty_netty_handler_4_1_33_Final.xml
.idea/libraries/Maven__io_netty_netty_handler_proxy_4_1_33_Final.xml
.idea/libraries/Maven__io_netty_netty_resolver_4_1_33_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_4_1_33_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_33_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_native_unix_common_4_1_33_Final.xml
.idea/libraries/Maven__io_projectreactor_netty_reactor_netty_0_8_5_RELEASE.xml
.idea/libraries/Maven__io_projectreactor_reactor_core_3_2_6_RELEASE.xml
.idea/libraries/Maven__io_springfox_springfox_core_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_schema_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_spi_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_spring_web_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger2_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger_common_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger_ui_2_9_2.xml
.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_20.xml
.idea/libraries/Maven__io_swagger_swagger_models_1_5_20.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_3_2.xml
.idea/libraries/Maven__javax_persistence_javax_persistence_api_2_2.xml
.idea/libraries/Maven__javax_validation_validation_api_2_0_1_Final.xml
.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_9_10.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_9_10.xml
.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_2_33.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_core_js_2_33.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_cssparser_1_2_0.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_neko_htmlunit_2_33.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
.idea/libraries/Maven__org_apache_commons_commons_text_1_4.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_8.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_11.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_8.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_11_2.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_11_2.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_16.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_16.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_16.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_9_2.xml
.idea/libraries/Maven__org_assertj_assertj_core_3_11_1.xml
.idea/libraries/Maven__org_attoparser_attoparser_2_0_5_RELEASE.xml
.idea/libraries/Maven__org_dom4j_dom4j_2_1_1.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_client_9_4_14_v20181114.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_4_14_v20181114.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_4_14_v20181114.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_4_14_v20181114.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_4_14_v20181114.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_api_9_4_14_v20181114.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_client_9_4_14_v20181114.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_common_9_4_14_v20181114.xml
.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_1.xml
.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_9.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_1_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_5_4_1_Final.xml
.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_0_14_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
.idea/libraries/Maven__org_jboss_jandex_2_0_5_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_2_Final.xml
.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
.idea/libraries/Maven__org_json_json_20180813.xml
.idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8.xml
.idea/libraries/Maven__org_latencyutils_LatencyUtils_2_0_3.xml
.idea/libraries/Maven__org_mapstruct_mapstruct_1_2_0_Final.xml
.idea/libraries/Maven__org_mindrot_jbcrypt_0_4.xml
.idea/libraries/Maven__org_mockito_mockito_core_2_23_4.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
.idea/libraries/Maven__org_postgresql_postgresql_42_2_5.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_2.xml
.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_2.xml
.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_configuration_processor_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_mail_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_reactor_netty_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_thymeleaf_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_webflux_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_2_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_core_5_1_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_web_5_1_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webflux_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_synchronoss_cloud_nio_multipart_parser_1_1_0.xml
.idea/libraries/Maven__org_synchronoss_cloud_nio_stream_storage_1_1_3.xml
.idea/libraries/Maven__org_thymeleaf_extras_thymeleaf_extras_java8time_3_0_3_RELEASE.xml
.idea/libraries/Maven__org_thymeleaf_thymeleaf_3_0_11_RELEASE.xml
.idea/libraries/Maven__org_thymeleaf_thymeleaf_spring5_3_0_11_RELEASE.xml
.idea/libraries/Maven__org_unbescape_unbescape_1_1_6_RELEASE.xml
.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_6_2.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_23.xml
.idea/libraries/Maven__xalan_serializer_2_7_2.xml
.idea/libraries/Maven__xalan_xalan_2_7_2.xml
.idea/libraries/Maven__xerces_xercesImpl_2_12_0.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_4_01.xml
target/classes/com/nasnav/AppConfig.class
target/classes/com/nasnav/constatnts/EmailConstants.class
target/classes/com/nasnav/constatnts/EntityConstants$ConfigurationKey.class
target/classes/com/nasnav/constatnts/EntityConstants.class
target/classes/com/nasnav/controller/NavboxController.class
target/classes/com/nasnav/controller/OrdersController.class
target/classes/com/nasnav/controller/QnbPaymentController.class
target/classes/com/nasnav/controller/UserController.class
target/classes/com/nasnav/dao/BasketRepository.class
target/classes/com/nasnav/dao/BrandsRepository.class
target/classes/com/nasnav/dao/BundleRepository.class
target/classes/com/nasnav/dao/EmployeeUserRepository.class
target/classes/com/nasnav/dao/OrderRepository.class
target/classes/com/nasnav/dao/OrdersRepository.class
target/classes/com/nasnav/dao/Organization.class
target/classes/com/nasnav/dao/OrganizationRepository.class
target/classes/com/nasnav/dao/OrganizationThemeRepository.class
target/classes/com/nasnav/dao/PaymentsRepository.class
target/classes/com/nasnav/dao/ProductFeaturesRepository.class
target/classes/com/nasnav/dao/ProductImagesRepository.class
target/classes/com/nasnav/dao/ProductRepository.class
target/classes/com/nasnav/dao/ProductVariantsRepository.class
target/classes/com/nasnav/dao/RoleEmployeeUserRepository.class
target/classes/com/nasnav/dao/RoleRepository.class
target/classes/com/nasnav/dao/ShopsRepository.class
target/classes/com/nasnav/dao/SocialRepository.class
target/classes/com/nasnav/dao/StockRepository.class
target/classes/com/nasnav/dao/UserRepository.class
target/classes/com/nasnav/dto/Address.class
target/classes/com/nasnav/dto/BaseRepresentationObject.class
target/classes/com/nasnav/dto/BasketItem.class
target/classes/com/nasnav/dto/CategoryRepresentationObject.class
target/classes/com/nasnav/dto/FromUntilTime.class
target/classes/com/nasnav/dto/OpenWorkingDays.class
target/classes/com/nasnav/dto/OrderJsonDto.class
target/classes/com/nasnav/dto/OrderRepresentationObject.class
target/classes/com/nasnav/dto/OrderSessionBasket.class
target/classes/com/nasnav/dto/OrderSessionResponse.class
target/classes/com/nasnav/dto/Organization_BrandRepresentationObject.class
target/classes/com/nasnav/dto/OrganizationRepresentationObject.class
target/classes/com/nasnav/dto/OrganizationThemesRepresentationObject.class
target/classes/com/nasnav/dto/ProductRepresentationObject.class
target/classes/com/nasnav/dto/ProductSortOptions.class
target/classes/com/nasnav/dto/ProductsResponse.class
target/classes/com/nasnav/dto/ShopRepresentationObject.class
target/classes/com/nasnav/dto/SocialRepresentationObject.class
target/classes/com/nasnav/dto/UserDTOs$EmployeeUserCreationObject.class
target/classes/com/nasnav/dto/UserDTOs$GenericUserObject.class
target/classes/com/nasnav/dto/UserDTOs$PasswordResetObject.class
target/classes/com/nasnav/dto/UserDTOs$UserLoginObject.class
target/classes/com/nasnav/dto/UserDTOs$UserRegistrationObject.class
target/classes/com/nasnav/dto/UserDTOs.class
target/classes/com/nasnav/dto/WorkingDayDurationList.class
target/classes/com/nasnav/enumerations/OrderFailedStatus.class
target/classes/com/nasnav/enumerations/OrderStatus.class
target/classes/com/nasnav/enumerations/PaymentStatus.class
target/classes/com/nasnav/enumerations/Roles.class
target/classes/com/nasnav/enumerations/TransactionCurrency.class
target/classes/com/nasnav/exceptions/BusinessException.class
target/classes/com/nasnav/exceptions/EntityValidationException.class
target/classes/com/nasnav/exceptions/ErrorResponseDTO.class
target/classes/com/nasnav/exceptions/ErrorResponseHandler.class
target/classes/com/nasnav/NasNavMailSender.class
target/classes/com/nasnav/NavBox.class
target/classes/com/nasnav/payments/qnb/Account.class
target/classes/com/nasnav/payments/qnb/ActiveSessions.class
target/classes/com/nasnav/payments/qnb/PaymentService.class
target/classes/com/nasnav/payments/qnb/Session.class
target/classes/com/nasnav/persistence/BaseEntity.class
target/classes/com/nasnav/persistence/BasketsEntity.class
target/classes/com/nasnav/persistence/BrandsEntity.class
target/classes/com/nasnav/persistence/BundleEntity.class
target/classes/com/nasnav/persistence/CategoriesEntity.class
target/classes/com/nasnav/persistence/CitiesEntity.class
target/classes/com/nasnav/persistence/CountriesEntity.class
target/classes/com/nasnav/persistence/DefaultBusinessEntity.class
target/classes/com/nasnav/persistence/EmployeeUserEntity.class
target/classes/com/nasnav/persistence/EntityUtils.class
target/classes/com/nasnav/persistence/GenericArrayType.class
target/classes/com/nasnav/persistence/MallsEntity.class
target/classes/com/nasnav/persistence/OrdersEntity.class
target/classes/com/nasnav/persistence/OrganizationEntity$Type.class
target/classes/com/nasnav/persistence/OrganizationEntity.class
target/classes/com/nasnav/persistence/OrganizationThemeEntity.class
target/classes/com/nasnav/persistence/PaymentEntity.class
target/classes/com/nasnav/persistence/Permissions.class
target/classes/com/nasnav/persistence/ProductEntity.class
target/classes/com/nasnav/persistence/ProductFeaturesEntity.class
target/classes/com/nasnav/persistence/ProductImagesEntity.class
target/classes/com/nasnav/persistence/Products.class
target/classes/com/nasnav/persistence/ProductTypes.class
target/classes/com/nasnav/persistence/ProductVariants.class
target/classes/com/nasnav/persistence/ProductVariantsEntity.class
target/classes/com/nasnav/persistence/Role.class
target/classes/com/nasnav/persistence/RoleEmployeeUser.class
target/classes/com/nasnav/persistence/Roles.class
target/classes/com/nasnav/persistence/ShopsEntity.class
target/classes/com/nasnav/persistence/ShopsOpeningTimesEntity.class
target/classes/com/nasnav/persistence/SocialEntity.class
target/classes/com/nasnav/persistence/StocksEntity.class
target/classes/com/nasnav/persistence/UserEntity.class
target/classes/com/nasnav/PersistenceConfig.class
target/classes/com/nasnav/response/ApiResponseBuilder.class
target/classes/com/nasnav/response/exception/OrderValidationException.class
target/classes/com/nasnav/response/OrderResponse.class
target/classes/com/nasnav/response/ResponseStatus.class
target/classes/com/nasnav/response/UserApiResponse.class
target/classes/com/nasnav/service/BrandService.class
target/classes/com/nasnav/service/CategoryService.class
target/classes/com/nasnav/service/CommonUserServiceInterface.class
target/classes/com/nasnav/service/CorsConfig.class
target/classes/com/nasnav/service/EmployeeUserService.class
target/classes/com/nasnav/service/EmployeeUserServiceImpl.class
target/classes/com/nasnav/service/helpers/EmployeeUserServiceHelper.class
target/classes/com/nasnav/service/MailService.class
target/classes/com/nasnav/service/MailServiceImpl.class
target/classes/com/nasnav/service/OrderService$OrderValue.class
target/classes/com/nasnav/service/OrderService.class
target/classes/com/nasnav/service/OrderServiceImpl.class
target/classes/com/nasnav/service/OrganizationService.class
target/classes/com/nasnav/service/ProductService$1.class
target/classes/com/nasnav/service/ProductService$2.class
target/classes/com/nasnav/service/ProductService.class
target/classes/com/nasnav/service/RoleService.class
target/classes/com/nasnav/service/RoleServiceImpl.class
target/classes/com/nasnav/service/ShopService.class
target/classes/com/nasnav/service/StockService.class
target/classes/com/nasnav/service/StockServiceImpl.class
target/classes/com/nasnav/service/UserService.class
target/classes/com/nasnav/service/UserServiceImpl.class
target/classes/com/nasnav/Swagger.class
target/classes/mail_templates/mail-recover-user.html
target/classes/META-INF/spring-configuration-metadata.json
target/classes/sample.application.properties
target/classes/sample.database.properties
target/classes/sample.mail.properties
target/classes/sample.provider.qnb.properties
target/classes/static/checkout.html
target/classes/static/payment.html
target/classes/static/session.html
target/classes/templates/change_password.html
target/test-classes/EmployeeUserCreationTest.class
target/test-classes/NavBoxTest.class
target/test-classes/OrderServiceTest.class
target/test-classes/PaymentControllerTest$1.class
target/test-classes/PaymentControllerTest.class
target/test-classes/ProductServiceTest.class
target/test-classes/QnbHostedSessionPayment.class
target/test-classes/sql/bundle_test_data_delete.sql
target/test-classes/sql/bundle_test_data_insert.sql
target/test-classes/TestCommons.class
target/test-classes/UserRegisterTest.class
src/main/resources/application.properties
src/main/resources/database.properties
src/main/resources/provider.qnb.properties
src/main/resources/templates/application.properties
target/classes/application.properties
target/classes/database.properties
target/classes/provider.qnb.properties
.idea/httpRequests/2019-07-07T042032.404.json
.idea/httpRequests/2019-07-07T042243.404.json
.idea/httpRequests/http-requests-log.http
.idea/uiDesigner.xml
target/classes/META-INF/backend-java.kotlin_module
