/target
*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.attach_pid*
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
.vscode
/code
MANIFEST.MF
_site/
activemq-data
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache
/src/main/resources/test.database.properties
/src/main/resources/application.properties
/src/main/resources/database.properties

/nasnav/src/test/resources/test_imgs_save_dir
/nasnav/src/main/resources/*.properties
/yeshtery/src/main/resources/*.properties
/nasnav/src/test/resources/test.database.properties
/yeshtery/src/test/resources/test.database.properties
*.trc
/nasnav/javacore.*.txt
/nasnav/heapdump.*.phd
/nasnav/src/test/resources/test_files_base_dir
/yeshtery/src/test/resources/test_imgs_save_dir
/nasnav/src/test/resources/application.properties
/yeshtery/src/test/resources/application.properties

/nasnav/src/main/resources/firebase.json
