<!DOCTYPE html>
<html>

<head>  
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <title>NasNav</title>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery.serializejson.js"></script>  
  <script type="text/javascript" src="/js/utils.js"></script>  
  <script th:inline="javascript">
            /*<![CDATA[*/
    
            var token = /*[[${token}]]*/ 'default';
    
            /*]]>*/
  </script>
</head>

<body>
  <div class="wrapper">
  	<div class="title">
		<h1>Dirty Dashboard!</h1>
	</div>
  	<div class="btn-group">
  		<div th:if="${isNasnavAdmin}">
  			<button onclick="openPage('/dirty_dashboard/org_mgr')">Add Organization</button>
	   		<button onclick="openPage('/dirty_dashboard/cat_mgr')">Add Categories</button>
	   		<button>Add Users</button>
  		</div>


	   <div th:if="${isOrgAdmin}">
	   		<button onclick="openPage('/dirty_dashboard/products_feature')">Add Product Features</button>
	  		<button onclick="openPage('/dirty_dashboard/brand_mgr')">Add Brands</button>
	   		<button onclick="openPage('/dirty_dashboard/upload_product_csv_form')">Import Products</button>
	   		<button onclick="openPage('/dirty_dashboard/upload_product_image_csv_form')">Import Products Images</button>
	   </div>
	      
  	</div>
    
  </div>
</body>

</html>