<!DOCTYPE html>
<html>

<head>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.serializejson.js"></script>
    <script th:inline="javascript">
            /*<![CDATA[*/
    
            var token = /*[[${token}]]*/ 'default';
    
            /*]]>*/
        </script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script src="/js/org_mgr.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form_style.css">
    <meta charset="UTF-8">
    <title>NasNav</title>
</head>

<body>
    <div class="title">
        <h1>Add New Organization</h1>
    </div>
    <form class="main-form" id="org-form">
        <div>
            <input type="text" name="name" placeholder="Organization Name" required />
            <input type="text" name="p_name" placeholder="Organization PName" required />
        </div>
    </form>
    <form class="main-form">
        <input type="button" id="submit-form-btn" onclick="postOrgData('org-form')" value="Submit"></input>
    </form>
    <div class="main-form">
	   	<button onclick="openPage('/dirty_dashboard/dashboard')" style="background-color: red">Back</button>
	</div>
    <div id="error-container" style="border: black">
        <div id="error-desc">

            </div>
        <div id="error-msg">

        </div>
        <div id="errors">

        </div>
    </div>
    
</body>

</html>