<!DOCTYPE html>
<html>

<head>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.serializejson.js"></script>
    <script th:inline="javascript">
            /*<![CDATA[*/
    
            var token = /*[[${token}]]*/ 'default';
            var org_id= [[${org_id}]];
    
            /*]]>*/
        </script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script src="/js/org_info.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form_style.css">
    <meta charset="UTF-8">
    <title>NasNav</title>
</head>

<body>
    <div class="title">
        <h1>Add New Brand</h1>
    </div>
    <form class="main-form" id="org_info_form">
        <div>
            <input type="text" name="description" placeholder="Description"  />
            <input type="text" name="social_twitter" placeholder="Twitter Page Link"  />
            <input type="text" name="social_facebook" placeholder="Facebook Page Link"  />
            <input type="text" name="social_instagram" placeholder="Instagram Page Link"  />
            Logo<input id="logo" type="file" name="logo" />
        </div>
    </form>
    <form class="main-form">
        <input type="button" id="submit-form-btn" onclick="createFormData('org_info_form')" value="Submit"></input>
    </form>
    <div class="main-form">
	   	<button onclick="openPage('/dirty_dashboard/dashboard')" style="background-color: red">Back</button>
	</div>
    <div id="error-container" style="border: black">
        <div id="error-desc">

            </div>
        <div id="error-msg">

        </div>
        <div id="errors">

        </div>
    </div>
    
</body>

</html>