<!DOCTYPE html>
<html>

<head>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.serializejson.js"></script>
    <script th:inline="javascript">
            /*<![CDATA[*/
    
            var token = /*[[${token}]]*/ 'default';
    
            /*]]>*/
        </script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script src="/js/upload_products_images.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form_style.css">
    <meta charset="UTF-8">
    <title>NasNav</title>
</head>

<body>

    <div class="title">
        <h1>Upload Products Images CSV File</h1>
    </div>

    <form id="upload-form" class="main-form">
        <input type="hidden" name="token" th:value="${token}">
    </form>

    <form id="properites-form" class="main-form">
        <div>
            <input type="text" name="type" placeholder="Image Type" required />
            <input type="text" name="priority" placeholder="Image Priority" required />
        </div>
    </form>

    <form id="file-form" class="main-form">
        <div>
            Images Barcode CSV file<input type="file" name="csv" placeholder="Csv File" required id="csv"/>
            ZIP Images file<input type="file" name="zip" placeholder="Zip File" required id="zip"/>
        </div>
    </form>

    <form class="main-form">
        <input type="button" id="upload-form-btn" onclick="upload('properites-form')" value="Upload"></input>
    </form>

    <div class="main-form">
	   	<button onclick="openPage('/dirty_dashboard/dashboard')" style="background-color: red">Back</button>
	</div>
    <div id="error-container" style="border: black">
        <div id="error-desc">

            </div>
        <div id="error-msg">

        </div>
        <div id="errors">

        </div>
    </div>
    
</body>

</html>