<configuration>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %yellow(%C{1}) %m%n" />
    <property name="APP_LOG_ROOT" value="nasnav/src/main/resources/logs/"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.test" level="ERROR"/>
    <logger name="org.springframework.boot.test" level="ERROR"/>
    <logger name="com.nasnav.test" level="ERROR"/>
    <logger name="com.nasnav.yeshtery.test" level="info"/>
    <root level="OFF">
        <appender-ref ref="console" />
    </root>

</configuration>