<configuration>

    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSSZ} %p %yellow(%C{1}) %m%n" />
    <property name="APP_LOG_ROOT" value="src/test/resources/logs/"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.test" level="ERROR"/>
    <logger name="org.springframework.boot.test" level="ERROR"/>
    <logger name="com.nasnav.test" level="ERROR"/>
    <logger name="com.nasnav.yeshtery.test" level="ERROR"/>
    <logger name="com.nasnav" level="off"/>
    <logger name="com.nasnav.test" level="error"/>
    <logger name="liquibase" level="error"/>
    <logger name="org.testcontainers.containers" level="error"/>
    <logger name="org.springframework.security" level="error"/>
    <logger name="org.springframework.web" level="error"/>
    <root level="off">
        <appender-ref ref="console" />
    </root>

</configuration>